.header {
  background-color: #fff;
  padding: 45px 0 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo img {
  height: 68px;
  width: 210.32px;
}
@media screen and (max-width: 800px) {
  .header {
    padding: 20px 0 27px 0;
    justify-content: unset;
  }
  .header .logo img {
    height: 46.88px;
    width: 145px;
  }
  .header .nav ul li a {
    font-size: 12px;
    text-transform: uppercase;
    align-items: center;
    width: 100%;
    height: 17px;
  }
  .header .nav ul li:first-child a {
    padding-left: 43px;
    padding-right: 22px;
  }
}
.header .nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.header .nav ul li {
  display: inline-block;
}
.header .nav ul li a {
  width: 136px;
  height: 34px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  color: #000;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}
.header .nav ul li a:hover {
  text-decoration-line: underline;
}
.header .nav ul li a.active {
  text-decoration: underline;
}
@media screen and (max-width: 498px) {
  .header .nav ul li:first-child a {
    padding-left: 35px;
  }
  .header .nav ul li a {
    padding-left: 35px;
  }
}
@media screen and (max-width: 320px) {
  .header .nav ul li:first-child a {
    padding-left: 20px;
  }
  .header .nav ul li a {
    padding-left: 20px;
  }
}

.banner {
  position: relative;
  width: 100%;
  min-width: 100%;
  margin: 0 auto;
  border-radius: 25px;
}
.banner .banner-image {
  width: 100%;
  min-width: 100%;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 111px;
}
.banner .banner1 {
  filter: brightness(60%);
}
.banner .banner2 {
  filter: brightness(70%);
}
.banner .banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
}
@media screen and (max-width: 960px) {
  .banner .banner-text {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  .banner .banner {
    margin-top: 19px;
  }
  .banner .text-mobile-split {
    display: block;
  }
}
@media screen and (max-width: 320px) {
  .banner .banner-text {
    font-size: 20px;
    line-height: 20px;
  }
}

.logements-card {
  width: 100%;
  max-width: 340px;
  border-radius: 10px;
  min-width: 340px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
  height: calc(100% - 4px);
  position: relative;
  overflow: hidden;
}
.logements-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 10;
}
@media screen and (max-width: 460px) {
  .logements-card {
    min-width: 200px;
  }
  .logements-card .card-cover img {
    min-height: 255px;
  }
}
@media screen and (max-width: 1420px) {
  .logements-card {
    min-width: 100%;
  }
}
.logements-card .card-cover {
  position: relative;
}
.logements-card .card-cover img {
  width: 100%;
  height: auto;
  min-height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.logements-card .card-cover .card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fff;
  border-radius: 0 0 10px 10px;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  z-index: 3333;
}

.logements-menu {
  margin-top: 43px;
  background-color: #f6f6f6;
  border-radius: 25px;
  height: 100%;
}
.logements-menu .grid-container {
  display: grid;
  row-gap: 50px;
  -moz-column-gap: 50px;
       column-gap: 50px;
  padding: 56px 3.47% 43px 3.47%;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 1420px) {
  .logements-menu .grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (max-width: 960px) {
  .logements-menu {
    margin-top: 0;
    background-color: #fff;
  }
  .logements-menu .grid-container {
    grid-template-columns: minmax(0, 1fr);
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 20px;
    padding: 20px 0 22px 0;
  }
}/*# sourceMappingURL=index.css.map */